rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /apiKeys/{document=**} {
      allow read, write: if request.auth.token.email.split("@")[1] == "actnowcoalition.org";
    }
    match /share-links/{document=**} {
    	allow read, write: if false;
    }
  }
}